<section id="travel" class="section dark">
    <h1 class="section__heading">Getting There</h1>
    <p>The ceremony will be at St James' Church, Nayland. The reception will be at Cambridge House, Stoke Road, Nayland.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2457.8821756485927!2d0.8735553812769857!3d51.97257284731975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d906d7233b2e1b%3A0xc28a371101a18ddb!2sSt%20James&#39;%20Church%20Nayland!5e0!3m2!1sen!2suk!4v1697291661127!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
</section>